* {
    all: unset;
    font-color: $fg;
}
$bg: #1F1F28;
$dark-bg: #16161D;
$fg: #DCD7BA;
$dark-fg: #C8C093;
$accent1: #223249;
.bar {
    font-size: 10px;
    font-family: URW Bookman;
    //font-family: JetBrainsMonoExtraBold Nerd Font Mono;
    //font-family: Noto Color Emoji;
    //font-family: Iosevka;
    background-color: $bg;
    border-radius: 10px;
    //border: 3px double #C8C093;
}

.graph {
}
.graph-container {
}
box.info {
    color:#C8C093;
    background-color: #16161D;
    border-radius: 10px;
    padding: 0px 1px;
    margin: 1px;
}
.info-icon {
    //background-color: #16161D;
    border-radius: 50%;
}

systray {
    margin-left: 10px;
}
box.workspace-entry {
    background-color: #16161D;
}

.occupied {
    background-color: #363646;
    color: #DCD7BA;
}

label.empty {
    color: #C8C093;
    background-color: #16161D;
}

.active {
    background-color:#C8C093;
    color: #16161D;
}

label.workspace-entry {
    border-radius: 50%;
}


.date {
    background-color: $accent1;
    //background-color: #2D4F67;
    border-radius: 5px;
    padding: 5px 2px;
}

.time {
    font-size: 15px;
    font-family: URW Bookman;
}

.tray-container {
    border-radius: 5px;
    background-color: #D27E99;
    padding: 0px 6px;
}
