* {
    all: unset;
}

.bar {
    font-size: 10px;
    font-family: "iosevka";
    background-color: #1F1F28;
    border-radius: 10px;
}

.metric scale trough highlight {
  all: unset;
	background-color: #2D4F67;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #C8C093;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #C8C093;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
systray {
    margin-left: 10px;
}
button.workspace-entry {
    background-color: #16161D;
}

.occupied {
    background-color: #363646;
    color: #DCD7BA;
}

label.empty {
    color: #C8C093;
    background-color: #16161D;
}

.active {
    background-color:#C8C093;
    color: #16161D;
}

label.workspace-entry {
    padding: 0px 0px;
    border-radius: 50%;
}

box.info {
    background-color:#C8C093;
    color: #16161D;
    border-radius: 5px;
    padding: 0px 6px;
}

.date {
    background-color: #2D4F67;
    border-radius: 5px;
    padding: 0px 6px;
}
